<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="switch-opts" value="check-switch-1">
    <label class="form-check-label" for="inlineRadio1">check-switch-1</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="switch-opts" value="check-switch-2">
    <label class="form-check-label" for="inlineRadio2">check-switch-2</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="switch-opts" value="check-switch-3" checked>
    <label class="form-check-label" for="inlineRadio3">check-switch-3</label>
</div>
<label class="check-switch check-switch-3">
    <input type="checkbox" id="check-switch">
    <span class="slider round"></span>
</label>