/**
 * Scroll in table and static thead
 * height: table and scroll size  
*/

.tableFixHead {
    overflow: auto;
    height: 400px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 3; 
    background: #fff;
}

/**
 * Center items in a td of a table
*/

.center-items {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: none;
}
